@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: flex;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(241, 240, 240);
}

.pagina {
  width: 1440px;
  height: 4658px;
  background-color: #ffffff;
}
.imagens-pag-1 {
  width: 1490.03px;
  height: 1161px;
  margin-left: 420px;
  margin-top: -20;
}
.container-1 img {
  position: absolute;
  width: 974.86px;
  height: 780px;
  margin-left: 377.08px;
  margin-top: 275px;
}
.container-2 img {
  width: 1490.03px;
  height: 1161px;
  margin-top: -20px;
}

.pag-1 {
  width: 1910.03px;
  height: 1161px;
  margin-top: -20px;
}
.container-3 {
  width: 1440px;
  height: 60px;
  margin-top: -60%;
}
.menu {
  display: flex;
  width: 245px;
  height: 24px;
  margin-left: 165px;
  color: #505f98;
}
.menu a {
  display: flex;
  width: 38px;
  color: #505f98;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  height: 24px;
  margin: 18px;
  padding-bottom: 6px;
}
.list {
  list-style: none;
}
.landing-page {
  width: 79px;
  height: 38px;
  margin-top: -38px;
  margin-left: 681px;
}
.landing-page p {
  width: 95px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
  padding-bottom: 12px;
}
.button {
  width: 160px;
  height: 26px;
  margin-left: 1115px;
  margin-top: -38px;
  align-items: center;
}
.button button {
  width: 160px;
  height: 26px;
  background-color: #111247;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  margin-top: 4px;
}

.container-4 {
  width: 539.37px;
  height: 421px;
  margin-top: -1190px;
  margin-left: 167.12px;
}

.texto {
  width: 539.37px;
  height: 316px;
  margin-top: 301px;
  margin-right: 1203.54px;
}

.texto h5 {
  width: 539px;
  height: 132px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 12px;
}

.texto p {
  width: 539px;
  height: 164px;
  margin-top: -85px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  font-weight: 400;
}

.button-1 button {
  background-color: #111247;
  color: white;
  width: 189px;
  height: 36px;
  margin-top: 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  align-items: center;
}
.button-2 button {
  width: 189px;
  height: 36px;
  margin-top: 53px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  align-items: center;
  background-color: #ffffff;
  color: #091133;
  border: 1px solid #091133;
}
.botoes {
  display: flex;
  gap: 30.02px;
}

.pag-2 {
  display: flex;
  width: 1440px;
  height: 768px;
  margin-top: 32.5%;
}

.texto-2 {
  position: absolute;
  width: 540px;
  height: 204px;
  margin-top: 134px;
  margin-left: 165px;
}

.texto-2 h1 {
  width: 540px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 12px;
}

.texto-2 p {
  width: 540px;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  font-weight: 400;
  margin-top: -25px;
}

.titulos-1 {
  width: 255px;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 419px;
  height: 139px;
  padding-bottom: 2%;
}

.title-1 h1 {
  width: 255px;
  height: 26px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  font-weight: 500;
}
.title-1 p {
  width: 255px;
  height: 54px;
  margin-top: -5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
  font-weight: 400;
}

.titulos-2 {
  width: 255px;
  margin-left: -135px;
  margin-right: 165px;
  margin-top: 419px;
  height: 139px;
  padding-bottom: 2%;
}

.title-1 p {
  width: 255px;
  height: 54px;
  margin-top: -5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
  font-weight: 400;
}
.title-2 h1 {
  width: 255px;
  height: 26px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  font-weight: 500;
}
.title-2 p {
  width: 255px;
  height: 54px;
  margin-top: -5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
  font-weight: 400;
}

.imagens-pag-2 {
  width: 540px;
  height: 524.31px;
  margin-top: 83.65px;
  margin-left: -150px;
}

.pag-3 {
  display: flex;
  width: 1440px;
  height: 569px;
  margin-bottom: 2207px;
}

.container-5 {
  width: 445px;
  height: 228px;
  margin-top: 146px;
  margin-left: 826px;
}

.imagens-pag-3 {
  width: 480px;
  height: 315.85px;
  margin-top: 96.44px;
  margin-left: -77%;
}

.container-5 h1 {
  width: 445px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  font-weight: 500;
}

.container-5 p {
  width: 445px;
  height: 166px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  font-weight: 400;
  margin-top: -10px;
}

.pag-4 {
  display: flex;
  width: 1440px;
  height: 569px;
  margin-top: -2207px;
}

.container-6 {
  width: 445px;
  height: 228px;
  margin-top: 146px;
  margin-left: 826px;
}

.imagens-pag-4 {
  width: 480px;
  height: 315.85px;
  margin-top: 96.44px;
  margin-left: -77%;
}

.container-6 h1 {
  width: 445px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  font-weight: 500;
}

.container-6 p {
  width: 445px;
  height: 166px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  font-weight: 400;
  margin-top: -10px;
}

.pag-5 {
  display: flex;
  width: 1440px;
  height: 569px;
  margin-top: 0px;
}

.container-7 {
  width: 445px;
  height: 228px;
  margin-top: 96px;
  margin-left: 826px;
}

.imagens-pag-5 {
  width: 480px;
  height: 315.85px;
  margin-top: 96.44px;
  margin-left: -77%;
}

.container-7 h1 {
  width: 445px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  font-weight: 500;
}

.container-7 p {
  width: 445px;
  height: 166px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  font-weight: 400;
  margin-top: -10px;
}

.button-3 button {
  background-color: #111247;
  color: white;
  width: 189px;
  height: 36px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 26px;
  align-items: center;
}

.pag-6 {
  display: flex;
  width: 2511.59px;
  height: 933.68px;
  margin-top: -1px;
  margin-left: -663px;
}

.imagens-pag-6 {
  display: flex;
  width: 2511.59px;
  height: 933.68px;
  color: #e7ecff;
}
.container-8 {
  width: 600px;
  height: 116.31px;
  margin-top: 223px;
  margin-left: -1428.59px;
}

.container-8 h1 {
  display: flex;
  width: 600px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  font-weight: 500;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}
.container-8 p {
  text-align: center;
  width: 600px;
  height: 78px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  font-weight: 400;
}

.valor {
  text-align: center;
  display: flex;
  width: 350px;
  height: 100px;
}
.valor h1 {
  width: 350px;
  height: 66px;
  text-align: center;
  margin-top: 400.87px;
  margin-left: -460px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 66px;
  color: #222f65;
  font-weight: 500;
}

.valor p {
  width: 350px;
  margin-top: 467px;
  margin-left: -350px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #37447e;
  font-weight: 400;
}

.texto-final {
  width: 350px;
  height: 24px;
  margin-top: 552.82px;
  margin-left: -701px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #5d6970;
  font-weight: 400;
}

.button-4{
  width: 189px;
  height: 31.81px;
  margin-top:595.82px;
  margin-left:-375px;
  

}

.button-4 button{
  width: 189px;
  height: 31.81px;
  background-color: #111b47;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.pag-7{
  display: flex;
  width: 1440px;
  height: 108px;
  margin-top: -143.32px;
  margin-left: 0;
  background-color: #e7ecff;

}

.container-9 p{
  margin-top: 37px;
  width: 133px;
  height: 24px;
  margin-left: 260px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
  font-weight: 500;
}

.landing-inferior h1{
  text-align: center;
  margin-left: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
  padding-bottom: 12px;
  margin-top: 30px;
}

.button-5{
  width: 109px;
  height: 26px;
  margin-top: 34px;
  margin-left: 471.59px;
  background-color: #505f98;

}

.button-5 button{
  width: 109px;
  height: 26px;
  background-color: #111b47;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
}

.menu-inferior{
  display: flex;
  width: 1440px;
  height: 60px;
  background-color:#e7ecff;
}

.menu-inferior ul{
  display: flex;
  width: 245px;
  height: 24px;
  gap: 120px;
  margin-left: 260px;

}

.menu-inferior a{
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #929ecc;
  font-weight: 400;
}
.menu-inferior li{
  list-style: none;
  margin-left: -40px;
   
}

.icons-social{
  align-items: center;
  display: flex;
  width: 200px;
  height: 30px;
  gap: 30px;
  margin-top:10px ;
  margin-left: 620.59px;
}

.icons-social i{
  width: 16px;
  height: 16px;
  color: #b0b8bc;
}





